<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to @recruit.name.titleize, recruit_path(@recruit) %></li>
    <li class="breadcrumb-item active" aria-current="page">New Task</li>
  </ol>
</nav>

<%= render 'form', task: @task %>
